@font-face {
    font-family: 'Poppis-Bold';
    font-weight: bold;
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    src: url('../fonts/Poppins-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppis-Regular';
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    src: url('../fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Poppis-Medium';
    font-weight: 500;
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    src: url('../fonts/Poppins-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Extrabold.woff2') format('woff2'),
        url('../fonts/OpenSans-Extrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gabriola';
    src: url('../fonts/Gabriola.woff2') format('woff2'),
        url('../fonts/Gabriola.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}



@font-face {
    font-family: 'Open-Sans-Regular';
    src: url('../fonts/OpenSans.woff2') format('woff2'),
        url('../fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('../fonts/OpenSansLight-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraboldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo-Sans';
    src: url('../fonts/MuseoSans-500.woff2') format('woff2'),
        url('../fonts/MuseoSans-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$font-regular: 'Poppins-Regular';
$font-bold: 'Poppins-Bold';
$font-medium: 'Poppins-Medium';
$font-light: 'Poppins-Light';
$font-logo: 'Gabriola';
$font-nav: 'Museo-Sans';